template Alert(String header, String message, String type){
	<div class="row">
	<div class="span12">
	<div class="alert ${type}">
	  <a class="close" data-dismiss="alert" href="#">×</a>
	  <h4 class="alert-heading">${header}</h4>
	  <p>${message}</p>
	</div>
	</div>
	</div>
}