template Dashboard(){
	
	css{
		.header{
			font-weight:bold;
		}
	}

	<div class="row">
		<div class="span12">
		<table class="table table-striped">
	        <thead>
	          <tr>
	            <td class="header">User</td>
	            <td class="header">New tweets</td>
	            <td class="header">Last updated</td>
	            <td class="header">Delete</td>
	          </tr>
	        </thead>
	        <tbody id="dashboard-body">
	        </tbody>
	      </table>
	      </div>
     </div>
}